.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 3rem 0;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    align-items: center;

    max-width: 80%;
    margin: auto;

    font-weight: 300;

    &-link:link,
    &-link:visited {
        font-size: 0.8rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &-link:hover,
    &-link:active {
        transform: translateY(-3px);
    }
}

.copyright {
    max-width: 50%;
    margin: 2rem auto;
    font-size: 0.9rem;
}